/* App.css or your component-specific CSS */
.header-main {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    align-items: center; /* Center items vertically */
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    background-color: #ffffff;
  }
  
  .section-main {
    grid-column: span 1; /* Each section spans one column */
    padding: 0px;
  }
  
  .button-container-main {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-right: 100%;
    width: 100%;
  }
  
  .header-button-main {
    padding: 8px 16px;
    color: #0066ff;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    /* font-family: 'acumin-pro', sans-serif;
    font-style: normal; */
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 0px;
  }

  .middle-button-main{
    padding-left: 25px;
    padding-right: 25px;
  }

  .hover-underline-animation-main {
    display: inline-block;
    position: relative;
    color: #0C0C0E;
  }
  
  .hover-underline-animation-main::after {
    content: '';
    position: absolute;
    width: 75%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 8px;
    background-color: #0C0C0E;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation-main:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .right-button-main {
    margin-left: auto; /* Push the 'Contact' button to the right */
    background-color: #ffffff; /* Red background for the 'Contact' button */
    transition: background-color 0.3s ease;
    border: 0.5px solid #ffffff;
    border-radius: 20px;
    width: 110px;
    height: 40px;
  }

  .right-button-main:hover {
    background-color: #9B9B9B; /* New color on hover */
    border: 0px solid #ffffff;
  }
  
  /* Media query for responsive design */
@media (max-width: 900px) {
    .header {
      grid-template-columns: 1fr; /* Change to a single column on smaller screens */
    }
  
    .button-container {
      flex-direction: column; /* Stack buttons vertically on smaller screens */
    }

    .header-button{
        margin-left: 150px;
        margin-right: 150px;
    }

    .right-button{
        margin: auto;
    }
  }
