.FalHeader{
    padding-top: 20px;
    padding-bottom: 100px;
    margin-left: 40%;
    margin-right: 40%; 
}

/* For text bodies  */
.body-par-title-fal{
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;

    margin-left: 33%;
    margin-right: 33%;

    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 25px;

    color: #655E99;
}

.FalArch{
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 15px;
}