.Safari-Header{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 27%;
    margin-right: 27%;
}

.body-par-title-safari{
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;

    margin-left: 33%;
    margin-right: 33%;

    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 25px;

    color: #CF752C;
}

.Mag{
    padding-bottom: 25px;
    margin-left: 40%;
    margin-right: 40%;
}

.MoonLander{
    margin-left: 25%;
    margin-right: 25%; 
    padding-bottom: 50px;
}

.DRLSAT{
    margin-left: 20%;
    margin-right: 20%; 
    padding-bottom: 50px;
}

.RocketDiagram{
    margin-left: 35%;
    margin-right: 35%; 
    padding-bottom: 50px;
}

.center-title-saf{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    color: #CF752C;
}
