.Safari-Header{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 27%;
    margin-right: 27%;
}

.body-par-title-safari{
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;

    margin-left: 33%;
    margin-right: 33%;

    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 25px;

    color: #CF752C;
}

.Mag{
    padding-bottom: 25px;
    margin-left: 40%;
    margin-right: 40%;
}

.MoonLander{
    margin-left: 25%;
    margin-right: 25%; 
    padding-bottom: 50px;
}
